<tr>
  <th class="tdPadding">
    NAME
  </th>
  <th class="tdPadding">
    Email
  </th>
</tr>
<% @users.each do |user| %>
  <tr>
    <td class="tdPadding"><%= user.first_name %></td>
    <td class="tdPadding"><%= user.email %></td>
    <% if current_user.admin? %>
      <td class="tdPadding"><%= link_to 'Delete', remove_user_team_path(user_id: user.id), remote: true, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
