<div class="modal-content">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel">Task Status</h3>
   </div>
   <div class="modal-body" >
    <% if @task.status == "pending" %>
      <%= link_to 'START', task_start_task_path(@task), method: :patch, class: "btn btn-primary" %>
    <% elsif @task.status == "completed" %>
      <h2> Task Finished !!! </h2>
    <% else %>
      <%= link_to 'COMPLEETED',  task_complete_task_url(@task), method: :patch, class: "btn btn-primary" %>
    <% end %>
   </div>
   <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   </div>
</div>
